<!DOCTYPE>

<html>
<head>

    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/libs/jquery/dist/jquery.min.js"></script>

</head>
<body>

    <h1>Test</h1>
    <h2>test 2</h2>


    <script src="/static/js/main.js"></script>
</body>
</html>