<div class="nav-container">
    <a href="/" class="nav-button <%- pageName === 'articles'?'selected':'' %>">Articles</a>
    <a href="/about" class="nav-button <%- pageName === 'about'?'selected':'' %>">About</a>
    <a href="/portfolio" class="nav-button <%- pageName === 'portfolio'?'selected':'' %>">Portfolio</a>
</div>