body{
    font-family: sans-serif;
    margin: 0;
}

.title-container{

    text-align: center;
}


.post-title{

    font-size: 20px;
    font-weight: bold;
}

.post-container{

    display: inline-block;
    width: 49%;
    padding: 10px;
    box-sizing: border-box;
}

.page-list{
    text-align: center;
}

.page-list li{
    display: inline-block;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

a{
    text-decoration: none;
    color: green;
}

a:hover{
    font-weight: bold;
}

a:visited{
    color: green;
}

.load-indicator{
    text-align: center;
    display: none;          /* ni prikazan potem pa v main.js dolocimo, da se prikaze */
}

.nav-container{

    font-size: 0;         /* glej v zvezek zakaj sem to dala, <div>, enter = presledek*/
    text-align: center;
}

.nav-container .nav-button{

    font-size: 16px;
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    background-color: #00a65a;
    color: #ffffff;
    margin: 5px;

}

.nav-container .selected{

    background-color: #0a9dc7;
    border-bottom: 2px solid #13756D;
}

.footer-container{

    width: 100%;
    height: 100px;
    background-color: #00a7d0;

}

.text-about{

    overflow: auto;
 }

.text-about, .p{

    font-size: 18px;

}

.avatar-image{

    width: 200px;
    height: 240px;
    background: #eee;
    float: left;
    margin: 10px;
}

.cta-container{

    text-align: center;         /* da je gumc hire me na sredini*/
}

.cta-button{

    font-family: sans-serif;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #00a65a;
    color: white;
    font-size: 18px;
    font-weight: 100;
    display: inline-block;
    margin-bottom: 10px;
    width: 200px;
}



