body{
    font-family: sans-serif;
}

.post-title{

    font-size: 20px;
    font-weight: bold;
}

.post-container{

    display: inline-block;
    width: 49%;
    padding: 10px;
    box-sizing: border-box;
}

.page-list{

    text-align: center;
}

.page-list li{

    display: inline-block;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

a{
    text-decoration: none;
    color: green;
}

a:hover{

    font-weight: bold;
}

a:visited{

    color: green;

}
